.about-us__container {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 66px;
  padding-left: 17px;
}

.about-us__headline {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
}

.about-us__description {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 22px;
  font-family: "PT Mono", monospace;

  &--desktop {
    display: none;
  }

  &--small {
    margin-bottom: 7px;
  }
}

.about-us__button {
  padding-top: 12px;
  padding-right: 50px;
  padding-bottom: 13px;
  padding-left: 50px;
  color: #00b2ff;
  font-size: 14px;
  line-height: 16px;
  border-color: #00b2ff;
  background: transparent;
}

@media (min-width: $tablet-width) {
  .about-us__container {
    position: relative;
    width: 770px;
    min-height: 370px;
    padding-top: 11px;
    padding-bottom: 83px;
    padding-left: 213px;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 252px;
      height: 362px;
      background-image: url("../img/about-us__year.png");
    }
  }

  .about-us__headline {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 45px;
  }

  .about-us__description {
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 10px;
  }

  .about-us__button {
    margin-top: 22px;
    padding-top: 14px;
    padding-right: 50px;
    padding-bottom: 14px;
    padding-left: 50px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .about-us__container {
    width: 1200px;
  }

  .about-us__description {
    &--small {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
