.button {
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.button__invis-mobile {
  display: none;
}

@media (min-width: $tablet-width) {
  .button__invis-mobile {
    display: inline-block;
  }

  .button__mobile {
    display: none;
  }
}
