.contacts {
  display: flex;
  list-style: none;
}

.contatcs__item {
  margin-right: 23px;

  &--mail {
    margin-top: 3px;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.contacts__number-desktop,
.contacts__mail-desktop,
.contacts__back-call {
  display: none;
}

.contacts__link {
  display: block;
  cursor: pointer;

  &--mail {
    width: 26px;
    height: 19px;
  }

  &--phone {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: $tablet-width) {
  .contatcs__item {
    margin-right: 31px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__number-desktop,
  .contacts__mail-desktop,
  .contacts__back-call {
    display: inline-block;
  }

  .contacts__number-desktop,
  .contacts__mail-desktop {
    font-family: "PT Mono", monospace;
    color: #ffffff;
    line-height: 18px;
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
  }

  .contatcs__item {
    display: flex;
    flex-wrap: wrap;

    &--mail {
      margin-top: 0;
      margin-right: 86px;
      padding-top: 17px;
    }
  }

  .contacts__mail {
    width: 19px;
    height: 14px;
  }

  .contacts__phone {
    width: 18px;
    height: 18px;
  }

  .contacts__mail-desktop {
    padding-left: 14px;
  }

  .contacts__link {
    &--phone {
      margin-top: 17px;
    }
  }

  .contacts__number-desktop {
    padding-top: 17px;
    padding-left: 13px;
  }

  .contacts__back-call {
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 48px;
    padding-top: 14px;
    padding-right: 26px;
    padding-bottom: 14px;
    padding-left: 26px;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    border-color: #ffffff;
    background-color: transparent;
  }
}
