.contacts {
  display: flex;
  padding-left: 27px;
  list-style: none;
}

.contatcs__item {
  margin-right: 23px;

  &--mail {
    margin-top: 3px;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.contacts__number-desktop,
.contacts__mail-desktop,
.contacts__back-call {
  display: none;
}

.contacts__link {
  display: block;
  cursor: pointer;

  &--mail {
    width: 26px;
    height: 19px;
  }

  &--phone {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__number-desktop,
  .contacts__mail-desktop,
  .contacts__back-call {
    display: inline-block;
  }

  .contacts__number-desktop,
  .contacts__mail-desktop {
    font-family: "PT Mono", monospace;
    color: #ffffff;
    line-height: 18px;
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    width: 660px;
  }

  .contatcs__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .contacts__mail-desktop {
    padding-left: 20px;
  }

  .contacts__number-desktop {
    padding-left: 16px;
  }

  .contacts__back-call {
    margin-left: 40px;
    padding: 14px 24px;
    color: #ffffff;
    border-color: #ffffff;
    background-color: transparent;
  }
}
