.contacts {
  display: flex;
  margin: 0;
  padding-left: 27px;
  list-style: none;
}

.contatcs__item {
  margin-right: 23px;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.contacts__link {
  display: block;

  &--mail {
    width: 26px;
    height: 19px;
  }

  &--phone {
    width: 24px;
    height: 24px;
  }
}

