.feedback {
  background-color: #00b2ff;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 44px;
  padding-left: 15px;
}

.feedback__headline {
  margin-bottom: 14px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
}

.feedback__text {
  margin-bottom: 23px;
  font-family: "PT Mono", monospace;
  color: #ffffff;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__item {
  width: 290px;
  margin-bottom: 29px;
  color: #ffffff;

  &--button {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 16px;
    border-color: #ffffff;
    background-color: #00b2ff;
  }

  &--checkbox {
    font-family: "PT Mono", monospace;
    font-size: 14px;
    line-height: 16px;
  }

  &--textare {
    height: 104px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    &--modal {
      display: none;
    }
  }

  .feedback__container {
    width: 770px;
    padding-top: 81px;
    padding-bottom: 62px;
    padding-left: 88px;
  }

  .feedback__headline {
    font-size: 32px;
    line-height: 45px;
  }

  .feedback__text {
    margin-bottom: 54px;
    margin-left: 5px;
  }

  .feedback__form {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4px;
  }

  .feedback__item {
    margin-bottom: 42px;

    &--name,
    &--number {
      width: 280px;
    }

    &--name {
      margin-right: 32px;
    }

    &--textarea {
      width: 590px;
      height: 160px;
      margin-bottom: 44px;
    }

    &--button {
      width: 280px;
      margin-right: 39px;
    }

    &--checkbox {
      padding-top: 8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    &--modal {
      position: fixed;
      top: calc(50% - 302px);
      left: calc(50% - 245px);
      display: block;
      width: 490px;
      height: 605px;
    }
  }

  .feedback__container {
    position: relative;
    width: 1900px;
    padding-top: 91px;
    padding-right: 365px;
    padding-bottom: 71px;
    padding-left: 961px;

    &::before {
      content: "";
      position: absolute;
      top: 94px;
      left: 188px;
      width: 665px;
      height: 487px;
      background-image: url("../img/feedback-airplane-desktop.png");
    }

    &--modal {
      position: fixed;
      width: 490px;
      height: 605px;
      padding: 35px 40px;

      &::before {
        display: none;
      }
    }
  }

  .feedback__headline {
    margin-bottom: 11px;
    font-size: 36px;
    line-height: 51px;

    &--modal {
      margin-bottom: 25px;
      font-size: 28px;
      line-height: 39px;
    }
  }

  .feedback__text {
    margin-bottom: 47px;

    &--modal {
      margin-bottom: 35px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .feedback__item {
    width: 270px;

    &--name {
      margin-right: 30px;
    }

    &--textarea {
      width: 570px;
      height: 160px;
      margin-bottom: 35px;
    }

    &--button {
      margin-right: 38px;
    }

    &--checkbox {
      width: 262px;
    }

    &--modal {
      width: 412px;
    }

    &--textarea-modal {
      height: 104px;
    }

    &--checkbox-modal {
      width: 385px;
    }
  }

  .feedback__form {
    &--modal {
      flex-direction: column;
    }
  }

  .feedback__button-close {
    position: absolute;
    top: 20px;
    right: 24px;
    width: 17px;
    height: 17px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      transform: rotate(45deg);
      width: 23px;
      height: 1px;
      background-color: #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      transform: rotate(-45deg);
      width: 23px;
      height: 1px;
      background-color: #ffffff;
    }
  }
}
