.feedback {
  background-color: #00b2ff;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding-top: 33px;
  padding-right: 15px;
  padding-bottom: 33px;
  padding-left: 15px;
}

.feedback__question {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
}

.feedback__text {
  font-family: "PT Mono", monospace;
  color: #ffffff;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__item {
  width: 290px;
  margin-bottom: 30px;
  color: #ffffff;

  &--button {
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: #ffffff;
    background-color: #00b2ff;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .feedback__container {
    width: 770px;
    padding-top: 83px;
    padding-left: 88px;
  }

  .feedback__question {
    font-size: 32px;
    line-height: 45px;
  }

  .feedback__text {
    margin-bottom: 50px;
  }

  .feedback__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback__item {
    &--name,
    &--number {
      width: 280px;
    }

    &--name {
      margin-right: 32px;
    }

    &--textarea {
      width: 590px;
    }

    &--button {
      margin-right: 39px;
    }
  }
}
