.footer {
  background-color: #fafafa;
}

.footer__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.footer__copyright {
  margin: 0;
  padding: 25px 0;
  font-family: "PT Mono", monospace;
  color: #1b2d37;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;

  &--desktop {
    display: none;
  }
}

.footer__item-container {
  display: flex;
  flex-direction: column;
  padding-top: 29px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-top: 1px solid #dcdddc;
  overflow: hidden;

  &--information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 26px;
  }

  &--copyright {
    align-items: center;
    padding-top: 45px;
    padding-bottom: 48px;
  }

  &--site-list,
  &--contacts {
    padding-bottom: 29px;
  }
}

.footer__item-headline {
  position: relative;
  color: #1b2d37;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;

  &--site-list,
  &--contacts {
    position: relative;
    display: none;
    padding-top: 33px;
  }
}

.footer__item-container:hover > .footer__list {
  display: block;
  animation: 1s ease-in-out 0s 1 alternate open_menu;
}

@keyframes open_menu {
  from {
    margin-left: -50%;
  } to {
    margin-left: 0%;
  }
}

.footer__item {
  font-family: "PT Mono", monospace;
  color: #1b2d37;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__social-list {
  margin-top: 7px;
}

.footer__link {
  cursor: pointer;
}

.footer__condition {
  margin-bottom: 22px;
}

.footer__all-rights-reserved,
.footer__condition,
.footer__developed-by {
  font-family: "PT Mono", monospace;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;
}

.footer__all-rights-reserved {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 770px;
    padding-right: 24px;
    padding-left: 25px;
  }

  .footer__item-container {
    position: relative;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    border: none;

    &--copyright,
    &--information {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        left: -25px;
        display: block;
        width: 770px;
        height: 1px;
        background-color: #dcdddc;
      }
    }

    &--site-list,
    &--contacts {
      width: 50%;
      padding-top: 38px;
      padding-bottom: 36px;
    }

    &--copyright {
      padding-top: 7px;
      padding-bottom: 13px;

      &::before {
        bottom: 0;
      }
    }

    &--contacts {
      padding-left: 15px;
    }

    &--information {
      padding-top: 22px;

      &::before {
        top: 0;
      }
    }
  }

  .footer__list {
    &--site-list,
    &--contacts {
      display: block;
      padding-top: 0;
    }
  }

  .footer__item-container:hover > .footer__list {
    animation: none;
  }

  .footer__copyright {
    padding-top: 28px;
    padding-left: 14px;
  }

  .footer__item-headline {
    margin-bottom: 25px;

    &::before {
      display: none;
    }
  }

  .footer__item {
    &--address br {
      display: none;
    }
  }

  .footer__condition {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__container {
    width: 1900px;
    padding-right: 245px;
    padding-left: 243px;
  }

  .footer__item-container {
    &--copyright {
      flex-direction: column;
      align-items: flex-start;
      width: 350px;
      margin-right: 72px;
      padding-top: 65px;
      padding-bottom: 61px;

      &::before {
        display: none;
      }
    }

    &--site-list,
    &--contacts {
      padding-top: 65px;
      padding-bottom: 58px;
    }

    &--site-list {
      width: 650px;
    }

    &--contacts {
      width: 340px;
      padding-left: 4px;
    }

    &--information {
      justify-content: flex-start;
      padding-top: 16px;
      padding-bottom: 16px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -243px;
        width: 1900px;
        height: 1px;
        background-color: #dcdddc;
      }
    }
  }

  .footer__copyright {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
      margin-right: 145px;
      padding: 0;
    }
  }

  .footer__list {
    flex-direction: row;
  }

  .footer__item {
    width: 307px;

    &--address {
      width: 335px;
    }
  }

  .footer__all-rights-reserved {
    display: block;
    margin: 0;
    margin-right: 78px;
  }

  .footer__developed-by {
    margin-left: auto;
  }
}
