.input {
  width: 100%;
  padding-top: 17px;
  padding-right: 10px;
  padding-bottom: 17px;
  padding-left: 17px;
  border: none;
  background-color: #19baff;

  @include placeholder {
    color: #ffffff;
  }
}
