.page-header {
  background-color: #1b2931;
}

.page-header__container {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  width: 320px;
  min-height: 80px;
  margin: 0 auto;
  padding-top: 17px;
  padding-right: 15px;
  padding-left: 15px;
}

.page-header__logo {
  width: 38px;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    width: 770px;
  }

  .page-header__logo {
    width: 202px;
  }
}
