.page-header {
  background-color: #1b2931;
}

.page-header__container {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  width: 320px;
  min-height: 80px;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 24px;
}

.page-header__logo {
  width: 38px;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    width: 770px;
  }

  .page-header__logo {
    width: 202px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    width: 1920px;
    padding-top: 33px;
    padding-right: 256px;
    padding-left: 253px;
  }
}
