.printed-boards {
  position: relative;
  z-index: 50;
  min-height: 567px;
  background-color: #1b2931;

  &::before {
    content: "";
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 647px;
    background-image: url("../img/printed-boards-bg-mobile.jpg");
    background-position: center;
  }
}

.printed-boards__bg {
  position: absolute;
  top: 10px;
  display: block;
  width: 100%;
  height: 220px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 133px);
    width: 301px;
    height: 220px;
    background-image: url("../img/printed-board-mobile.png");
    background-repeat: no-repeat;
  }
}

.printed-boards__container {
  width: 320px;
  margin: 0 auto;
  padding-top: 206px;
  padding-right: 15px;
  padding-bottom: 70px;
  padding-left: 15px;
  overflow: hidden;
}

.printed-boards__headline {
  position: relative;
  z-index: 150;
  margin: 0;
  color: #ffffff;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.printed-boards__description {
  position: relative;
  margin: 0;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 42px;
  padding-left: 48px;
  font-family: "PT Mono", monospace;
  color: #ffffff;
  font-weight: 400;
  line-height: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    width: 33px;
    height: 2px;
    background-color: #ffffff;
  }
}

.printed-boards__button {
  position: relative;
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 14px;
  padding-left: 30px;
  color: #ffffff;
  border-color: #000000;
  background-color: #00b2ff;
}

@media (min-width: $tablet-width) {
  .printed-boards {
    min-height: 607px;

    &::before {
      height: 686px;
      background-image: url("../img/printed-boards-bg-tablet.jpg");
    }
  }

  .printed-boards__bg {
    top: 35px;
    height: 340px;

    &::before {
      left: calc(50% + 106px);
      width: 465px;
      height: 340px;
      background-image: url("../img/printed-board-tablet.png");
    }
  }

  .printed-boards__container {
    width: 770px;
    padding-top: 118px;
    padding-left: 88px;
  }

  .printed-boards__headline {
    width: 470px;
    font-size: 60px;
    line-height: 70px;
  }

  .printed-boards__description {
    width: 405px;
    font-size: 18px;
    line-height: 28px;
  }

  .printed-boards__button {
    margin-left: 48px;
    border: none;
  }
}
