.textarea {
  width: 100%;
  min-height: 104px;
  padding-top: 17px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 17px;
  border: none;
  background-color: #19baff;

  @include placeholder {
    font-family: "PT Mono", monospace;
    color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .textarea {
    height: 100%;
  }
}
