@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Condensed"),
    local("RobotoCondensed-Regular")
    url("../fonts/Robotocondensed.woff2") format("woff2"),
    url("../fonts/Robotocondensed.woff") format("woff"),
    url("../fonts/Robotocondensed.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Condensed Bold"),
    local("RobotoCondensed-Bold"),
    url("../fonts/Robotocondensedbold.woff2") format("woff2"),
    url("../fonts/Robotocondensedbold.woff") format("woff"),
    url("../fonts/Robotocondensedbold.ttf") format("truetype");
}

@font-face {
  font-family: "PT Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("PT Mono"),
    local("PTMono-Regular")
    url("../fonts/ptmono.woff2") format("woff2"),
    url("../fonts/ptmono.woff") format("woff"),
    url("../fonts/ptmono.ttf") format("truetype");
}

@font-face {
  font-family: "PT Mono";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("PT Mono Bold"),
    local("PTMono-Bold"),
    url("../fonts/ptmonobold.woff2") format("woff2"),
    url("../fonts/ptmonobold.woff") format("woff"),
    url("../fonts/ptmonobold.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #666666;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
}

a {
  color: #666666;
  text-decoration: none;
}
