@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-condensed-v18-cyrillic_latin-regular.eot");
  src: local("Roboto Condensed"),
    local("RobotoCondensed-Regular"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-regular.woff") format("woff"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-regular.ttf") format("truetype"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-regular.svg#RobotoCondensed") format("svg");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-condensed-v18-cyrillic_latin-700.eot");
  src: local("Roboto Condensed Bold"),
    local("RobotoCondensed-Bold"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-700.woff") format("woff"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-700.ttf") format("truetype"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-700.svg#RobotoCondensed") format("svg");
}

@font-face {
  font-family: "PT Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pt-mono-v7-cyrillic_latin-regular.eot");
  src: local("PT Mono"),
    local("PTMono-Regular"),
    url("../fonts/pt-mono-v7-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pt-mono-v7-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-v7-cyrillic_latin-regular.woff") format("woff"),
    url("../fonts/pt-mono-v7-cyrillic_latin-regular.ttf") format("truetype"),
    url("../fonts/pt-mono-v7-cyrillic_latin-regular.svg#PTMono") format("svg");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #666666;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
}

a {
  color: #666666;
  text-decoration: none;
}
